

body {
  background-color: white;
  color: #404040;
  font-size: 11pt;
  font-family: Georgia, Garamond, serif;

  background-image: url("images/bg.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

/* headings */
h1 {
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
  text-decoration: underline;
  color: #A4A400;
}

h2 {
  text-align: left;
  font-size: 18pt;
  font-weight: normal;
  text-decoration: underline;
  color: #A4A400;
}

/* links */
a {
  color: #A4A400;
}

/* testimonial */
blockquote {
  font-style: italic;
  background-color: #FFFFA8;
  margin-left: 40px;
  padding: 10px;
}

#favIcon{
    width: 35px;
    height: 32px;
}

#HeaderDiv{
    align-items: center;
    display: flex;
    justify-content: center;
}